@media only screen and (min-width: 60em) {

    header {
        grid-template-columns: 1fr 1fr 1fr 1fr .3fr;
    }
    
    #hamburgerBtn {
        display: none;
    }
    
    .socials {
        grid-row: 1;
        grid-column: 5;
    }
   
    .date {
        grid-row: 2;
        grid-column: 1 / span 5;
        color: black;
        
    }
    
    nav {
        /* justify-self: center; */
        grid-row: 1;
        grid-column: 2 / 5;
        /* width: 100%; */
        /* text-align: center; */
    }
    
    nav ul#primaryNav {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        justify-content: flex-end
    }
    
    nav ul li a {
        display: block;
        padding: 1.2rem 2.5rem;
        color: #FAEDCD;
        background-color: #A16F57;
    }
    
    nav ul li a:hover {
        background-color: #9EAD5A;
    }
    

    main {
      max-width: 1000px;
      
    }
  
    h1 {
      font-size: 40px;
    }
  
    h2 {
      font-size: 40px;
    }
  
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

    }

    .container img {
        width: 340px;
        height: 200px;
      }
  
    .container figure:hover {
      box-shadow: 0 0 50px #AADDCC;
    }
  
    footer {
      margin-top: 3%;
      padding: 10px 10px 20px 10px;
    }
  
  }