@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Sarala:wght@700&display=swap');

a {
    color: #FAEDCD;
  }
  
  li a:hover {
    background-color: #9EAD5A;
  }
  header {
    background-color: #DAE3AA;
    padding-bottom: 125px;
    color: #879950;
    font-family: 'Sarala', sans-serif;
     background-image: url("https://github.com/camilaar24/WDD230/blob/main/lesson03/images/background.png?raw=true");
  
  }
  body {
    font-family:'Quicksand', sans-serif;
    background-color: #9EAD5A;
    color: #494A40;
    margin: 150px;
    background-image: url("https://github.com/camilaar24/WDD230/blob/main/lesson03/images/background.png?raw=true");
    
  }
  main {
    display: grid;
    margin: auto;
  }
  section {
    background-color:#9EAD5A;
    border-radius: 5px;
    text-align: left;
    margin-top: 50px;
    
  }
  
  h1 {
    padding-top: 15px;
    text-align: center;
    font-family: 'Sarala', sans-serif;
  }
  
  h3, h2{  
    color:#FAEDCD ;
    padding-left: 8px;
    text-align: left;
 }

h4{
   color:#9EAD5A ;
   padding-bottom: 10px;
   text-align: center;
   font-size: 20px; 
}
  h5 {
  text-align: center;
  font-size: 20px; 
  color:#FAEDCD;
}

  nav {
    width: 100%;
    margin: 0 auto;
    background-color: #A16F57;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

 nav ul li a {
    display: block;
    color: #faedcd;
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
  }
 
 img {
    height: 150px;
    width: auto;
    align-self: center;
    }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: auto;

}

  #colorone {
    background-color: #9EAD5A;
    width: 50%;
    box-shadow: 0 2px 15px black;
  }
  
  #colortwo {
    background-color: #DAE3AA;
    width: 50%;
    box-shadow: 0 2px 15px black;
  }
  
  #colorthree {
    background-color: #A16F57;
    width: 50%;
    color: #DAE3AA ;
    box-shadow: 0 2px 15px black;
  }
  
  #colorfour {
    background-color: #494A40;
    color: #DAE3AA;
    width: 50%;
    box-shadow: 0 2px 15px black;
  }
#colorfive {
    background-color: #FAEDCD;
    color: #494A40;
    width: 50%;
    box-shadow: 0 2px 15px black;
  }
 

  
  footer {
    background-color: #A16F57;
    color: #DAE3AA ;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 55px;
  }
  
  div {
    text-align: center;
  }