@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Arima+Madurai&display=swap');

a {
    color: #52524E;
    font-family: 'Arima Madurai', cursive;
  }

  body {
    font-family: 'Arima Madurai', cursive;
    
  }
  
  header {
    background-color:#8A73BF ;
    color: #E8DAEF;
    padding-bottom: 2px;
    padding-top: -5px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Alegreya Sans', sans-serif;
    
  }
  main {
    display: grid;
    margin: auto;
  }
  section {
    background-color: #DDC7FC;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
  }
  h1 {
    padding-top: 25px;
    text-align: center;
    margin-bottom: -20px;
    
  }

  h2 {
      margin-top: 0px;
      border-radius: 5px;
      background-color: #E8DAEF;
      color: #52524E ;
      font-size: 5mm;
      justify-content: space-evenly;
  }
  h3 {
    color: #8A73BF ;
    font-size: 5mm;
  }

 h4 {
    color: #E8DAEF;
    font-size: 6mm;
  }
  p {
    font-family: 'Alegreya Sans', sans-serif;
    color:#52524E ;
    font-size: 5mm;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    height: auto;
  }
  footer {
    background-color: #E8DAEF;
    color: rgb(10, 7, 0);
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
  }